</body>
<a href="/"><u>Home</u></a>
<a href="/users"><u>      Users</u></a>
<a href="/sequences"><u>            Generate sequence</u></a>
<a href="/register"><u>                 Register user</u></a>
<a href="/postwriting"><u>                   Write post</u></a>
<a href="/valutaCalc"><u>                               Calculate valuta</u></a>
<br>
<p>Made by Mathias Larsen</p>
</html>
