{{> header}}

<form action="" name="sequenceForm" method="post">
    <p>
        Choose a number:
        <br>
        <input type="number" name="sequenceID" value="1"/>
    </p>
    <p>
        Choose a number:
        <br>
        <input type="number" name="sequenceSize" value="1"/>
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

{{#sequence}}
    <b>{{sequence}}</b>
{{/sequence}}

    <br>
{{> footer}}