<form action="" name="postWriting" method="post">
    <p>
        Title of post
        <br>
        <input type="text" name="title" />
    </p>
    <p>
        Headline of post
        <br>
        <input type="text" name="headline" />
    </p>
    <p>
        Content of post
        <br>
        <input type="text" name="content" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

{{> footer}}